.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.pagination > li > a {
    background-color: #fff;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

.dataTables_paginate {
    margin-top: 10px !important;
}
.dataTables_filter {
    display: inline-flex;
    margin-bottom: 10px !important;
    float: right;
}

.dataTables_length {
    margin-bottom: 10px !important;
    display: inline-flex;
    align-items: center;
    margin-right: 20px !important;
}

.dt-buttons {
    margin-bottom: 10px !important;
    display: inline-flex;
    margin-right: 20px !important;
}





