{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container m-auto px-4 py-4">
    <div class="text-3x1 pt-6 text-center">Департамент Международных Отношений</div>
  </div>
  <div>
      <div class="container m-auto px-4">

          <div class="py-3 px-4">
              <img alt="academ.png" src="{% static 'images/academ.png' %}" width="1139">
          </div>

      </div>

      <div class="container pt-6 m-auto px-4">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero hic eligendi quasi ipsum porro voluptate, nemo nobis aut nam, saepe architecto ea blanditiis, quas ullam corporis voluptas illo. In cum maiores vero perspiciatis blanditiis illo doloribus ipsum culpa corporis excepturi laborum, nemo beatae numquam magni. Quasi cumque inventore consequatur repellendus! Magnam mollitia eveniet quaerat recusandae eligendi qui corporis natus a repellendus pariatur? Debitis, eius nostrum error aliquam, vel impedit nulla explicabo voluptatibus repellendus ratione nisi exercitationem porro est quas optio, inventore mollitia. Incidunt reiciendis quidem voluptatum minus soluta eligendi dolore delectus ad, reprehenderit quam ipsam molestiae voluptatibus fugit minima molestias.</p>
          <img src="{% static 'images/academ.jpg' %}" alt="">
      </div>
{% endblock %}